<?xml version="1.0" encoding="UTF-8"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Keep</Data></Cell>
        <Cell><Data ss:Type="String">Try</Data></Cell>
      </Row>
      <% max_len = [@keep_tasks.size, @try_tasks.size].max %>
      <% for i in 0...max_len %>
        <Row>
        <% if t = @keep_tasks[i] %>
          <Cell><Data ss:Type="String"><%= t.msg %></Data></Cell>
        <% else %>
          <Cell><Data ss:Type="String"></Data></Cell>
        <% end %>

        <% if t = @try_tasks[i] %>
          <Cell><Data ss:Type="String"><%= t.msg %></Data></Cell>
        <% end %>
        </Row>
      <% end %>

      <Row></Row>
      <Row>
        <Cell><Data ss:Type="String">Problem</Data></Cell>
        <Cell><Data ss:Type="String">Happy</Data></Cell>
      </Row>
      <% max_len = [@problem_tasks.size, @happy_tasks.size].max %>
      <% for i in 0...max_len %>
        <Row>
        <% if t = @problem_tasks[i] %>
          <Cell><Data ss:Type="String"><%= t.msg %></Data></Cell>
        <% else %>
          <Cell><Data ss:Type="String"></Data></Cell>
        <% end %>

        <% if t = @happy_tasks[i] %>
          <Cell><Data ss:Type="String"><%= t.msg %></Data></Cell>
        <% end %>
        </Row>
      <% end %>


    </Table>
  </Worksheet>
</Workbook>
